/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: rgb(225, 225, 225);
}

.mobile-menu {
	transform: translateX(-100%);
}

.active-mobile-menu {
	transform: translateX(0);
}
