/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.my-transition {
	@apply transition duration-300 ease-in-out;
}

body {
	background-color: rgb(225, 225, 225);
}

.mobile-menu {
	transform: translateX(-100%);
}

.active-mobile-menu {
	transform: translateX(0);
}

.mobile-menubar:hover {
	transform: rotate(180deg);
}
.mobile-menubar-active {
	transform: rotate(180deg);
}
